/*Gull-gul kode: #e6bd43
Gråsvart: #252525
Svart: #000
Hvit: #fff

Siden skal ha en maks bredde på 1600px
På portfolio siden skal det brukes flexbox for å skape innholds-flyt i de ulike seksjonene. Artikkelkortene skal vokse og minske basert på den tilgjengelige plassen (hint: flex-grow), men de skal ikke blir større enn 692px.
Design skal inneholde tre artikkelkort
Branding skal inneholde 4 artikkelkort
Development skal holde på 2 artikkelkort
*/

/*css for hele nettstedet*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    max-width: 1600px;
    margin: 0 auto;
}

/*css forside*/

#forside-grid{
    display: grid;
    grid-template-areas: "header"
                         "main-forside"
                         "footer";

}

.boldfont{
    font-weight: bolder;
    font-siz: vw;
}

.underline{
    text-decoration: underline 4px #e6bd43;
    font-weight: 1000;
    font-size: larger;
    padding-bottom: 0.3em;
}

i{
    font-size: 3em;
}

header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding-top: 2em;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

header nav a{
    text-decoration: none;
    color: #000000;
}

header img{
    height: 8em;
}

#contact-button{
    background-color: #e6bd43;
    padding: 1em;
    font-weight: 1000;
}

#main-forside{
    grid-area: main-forside;
}

#forside-services{
    text-align: center;
    margin: 2em;
    padding: 2em;
    background-image: inherit;
}

#forside-services p{
    margin-top: 1em;
}

#forside-services a{
    color: #000000;
    background-color: #e6bd43;
    padding: 2em;
    display: inline-block;
    margin: 1em;
    font-weight: bolder;
}

#subheading{
    text-align: center;
    padding-inline: 2em;
}

#subheading p{
    margin-top: 1em;
}

#forside-about{
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    padding-inline: 30%;
    padding-block: 3em;
    margin-block: 2em;
}

#forside-about p{
    margin-top: 1em;
}

#forside-about a{
    display: inline-block;
    color: #000000;
    border: 3px solid;
    padding: 1em;
    margin-block: 1em;
    margin-right: auto;
}

#forside-about img{
    margin-bottom: 1em;
}

#services{
    text-align: center;
    gap: 3em;
    padding-inline: 2em;
}

#services section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    gap: 2em;
}

#services article{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

#newsletter{
    background-color: #d3d3d3;
    padding-block: 4em;
    text-align: center;
    margin-top: 3em;
}

#newsletter h4{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#newsletter input{
    margin: 0;
    padding: 1em;
    border: 0;
}

#newsletter button{
    border: 0;
    margin: 0;
    padding: 1em;
    background-color: #e6bd43;
}

form{
    display: flex;
    justify-content: center;
    width: 100%;
}

footer{
    grid-area: footer;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5em;
    padding-block: 2em;
}

footer nav i{
    margin-inline: 0.3em;
}

footer img{
    width: 10em;
}

footer p{
    color: #ffffff;
}

#til-toppen{
    position: fixed;
    right: 1em;
    bottom: 1em;
    background-color: #000000;
    padding: 0.5em;
    margin: 0;
}

/*media queries for desktop forside*/

@media screen and (min-width: 1000px) {
    
    #forside-grid{
        grid-template-areas: "header header header"
                             "main-forside main-forside main-forside"
                             "footer footer footer";
    }

    header{
        flex-direction: row;
        justify-content: space-between;
        margin-inline: 3em;
    }

    header nav{
        flex-direction: row;
    }

    .hovermenu :hover{
        font-weight: 900;
        text-decoration: underline 4px #e6bd43;
    }

    .hoverbutton :hover{
        color: #e6bd43;
        background-color: #252525;
    }

    #contact-button :hover{
        background-color: #252525;
        color: #e6bd43;
    }

    #forside-about{
        flex-direction: row;
        padding: 2em;
        gap: 2em;
    }

    #forside-about section{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-right: 20%;   
    }

    footer{
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 2em;
    }

}

/*css for products side*/

#products-grid{
    display: grid;
    grid-template-areas: "header"
                         "main-products"
                         "footer";
}

#main-products{
    grid-area: main-products;
}

#products-title{
    text-align: center;
    background-image: inherit;
    margin-block: 2em;
}

#products-title h1{
    font-size: 8vw;
}

#products-menu, #branding, #design, #development{
    margin-inline: 4em;
}

#products-menu{
    text-align: center;
}

#products-menu nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1.5em;
    margin-block: 0.5em;
    border-top: 4px solid #e6bd43;
    padding-top: 2.5em;
    padding-bottom: 1em;
}

#products-menu a{
    color: #000000;
    border: 2px solid;
    padding: 0.5em;
}

#branding section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    flex-grow: 1;
}

#branding h2{
    border-bottom: 4px solid #e6bd43;
    padding: 0.5em;
    margin-bottom: 2em;
}

#branding p{
    margin-top:1.5em;
    font-weight: 900;
}

#design section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    flex-grow: 1;
}

#design h2{
    padding-block: 0.5em;
    border-bottom: 3px solid #e6bd43;
    margin-block: 2em;
}

#design p{
    margin-top:1.5em;
    font-weight: 900;
}

#development{
    padding-bottom: 3em;
}

#development section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    flex-grow: 1;
}

#development h2{
    padding-block: 0.5em;
    border-bottom: 3px solid #e6bd43;
    margin-block: 2em;
}

#development p{
    margin-top:1.5em;
    font-weight: 900;
}

/*media queries for desktop products side*/

@media screen and (min-width: 1000px) {
    
    #products-grid{
        grid-template-areas: "header header header"
                             "main-products main-products main-products"
                             "footer footer footer";
    }

    #products-menu nav{
        justify-content: left;
    }

}

/*css for about side*/

#about-grid{
    display: grid;
    grid-template-areas: "header"
                         "main-about"
                         "footer";
}

#main-about{
    grid-area: main-about;
}

#about-section{
    margin-block: 4em;
}

#about-section article{
    padding-inline: 30%;
    background-color: #ffffff;
}

#about-section h1{
    margin-block: 1em;
}

#about-section a{
    color: #000000;
    background-color: #e6bd43;
    padding: 0.9em;
    display: inline-block;
    margin-top: 0.8em;
}

#clients{
    margin-top: 4em;
    background-color: #e6bd43;
    padding-block: 3em;
}

#clients h3{
    margin-bottom: 4em;
    text-align: center;
}

#clients section{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    gap: 3em;
}

#contact-us{
    background-color: #f0f0f0;
    padding-top: 3em;
}

#contact-us section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

#contact-us form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 19em;
    gap: 0.5em;
    margin-inline: auto;
}

#contact-us input{
    border: none;
    padding: 0.5em;
}

#contact-us button{
    display: inline-block;
    width: fit-content;
    padding: 1em;
    background-color: #e6bd43;
    border: none;
}

#contact-us article{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-block: 4em;
    margin-inline: 2em;
}

#contact-us h3{
    text-align: center;
    margin-bottom: 2em;
}

#contact-us article h3{
    text-align: left;
    margin: 0;
}

#contact-us a{
    font-size: 0.8em;
    
}

#contact-us i{
    font-size: 2em;
}

/*media queries for desktop about side*/

@media screen and (min-width: 1000px) {

    #about-section article{
        padding: 0;
        padding-left: 50%;
        padding-right: 10%;
    }
    
    #contact-us section{
        flex-direction: row;
        flex-wrap: nowrap;
        margin-inline: 30%;
        gap: 2em;
    }
}
